/* Configurations */

body {
    padding: 0px;
    margin: 0px;
}

#main-wrapper {
    width: 100vw;
    height: 100vh;
}

/* Header */

body #main-wrapper #header {
    position: fixed;
    width: 100vw;
    height: 10vh;
    background-color: aqua;
    text-align: center;
    align-content: center;
    font-size: 4vw;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* Main Content */

body #main-wrapper #content {
    width: 100vw;
    height: 95vh;
    background-color: bisque;
    overflow-y: auto;
}

body #main-wrapper #content #letters {
    padding-top: 20vh;
    padding-left: 20vw;
    padding-right: 20vw;
    width: 60vw;
    height: 50vh;
    background-color: brown;
}

body #main-wrapper #content #letters #rows {
    width: 60vw;
    height: 50vh;
    background-color:purple;
    display: flex;
    justify-content: space-between;
}

body #main-wrapper #content #letters #rows .row {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 8vw;
    height: 50vh;
    background-color: burlywood;
}

body #main-wrapper #content #letters #rows input[type="text"]{
    width: 6vw;
    height: 6vw;
    border-radius: 15%;
    text-align: center;
    margin-top: 2vh;
    border: 0px;

}

body #main-wrapper #content #letters #rows button{
    width: 4vw;
    height: 4vw;
    border-radius: 15%;
    margin-top: 1vh;
    border: 0;
}

body #main-wrapper #content #letters #rows .green{
    background-color: green;
}

body #main-wrapper #content #letters #rows .yellow{
    background-color: yellow;
}

body #main-wrapper #content #letters #rows .gray{
    background-color: gray;
}

/* Footer */

body #main-wrapper #footer {
    position: fixed;
    width: 100vw;
    height: 5vh;
    background-color: aqua;
    text-align: center;
    align-content: center;
    font-size: 1vw;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}